@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");

.default-cover {
  width: 1080px;
  height: 1080px;
  font-family: "Kanit", sans-serif;
}

.coverimg-size {
  width: 38rem;
}
